@page "/Tecnicos/Delete/{TecnicoId:int}"
@inject TecnicosService tecnicosService
@inject NavigationManager Navegacion
@rendermode InteractiveServer

<PageTitle>Confirmar eliminaci&oacute;n</PageTitle>

<EditForm Model="TecnicoSeleccionado" OnValidSubmit="ConfirmarEliminacion">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="container">
        <div class="card shadow-lg">
            <!-- Encabezado -->
            <div class="card-header bg-danger text-white">
                <h4 class="bi bi-trash"> Eliminar T&eacute;cnico</h4>
            </div>
       
        <div class="card-body">
            <article class="contenido">
                <p class="texto-destacado">¿Deseas proceder con la eliminaci&oacute; de este t&eacute;cnico?</p>
                <div class="detalle">
                    <span><strong>ID: </strong>@TecnicoSeleccionado.TecnicoId</span>
                </div>
                <div class="detalle">
                    <span><strong>Nombre: </strong>@TecnicoSeleccionado.Nombres</span>
                </div>
                <div class="detalle">
                    <span><strong>Sueldo/Hora: </strong>@TecnicoSeleccionado.SueldoHora</span>
                </div>
            </article>
            <!-- Pie -->
            <footer class="pie text-center">
                <a href="/Tecnicos/Index" class="btn btn-info bi bi-arrow-left"> Regresar</a>
                <button type="button" class="btn btn-danger  bi bi-trash" @onclick="ConfirmarEliminacion">Eliminar</button>
            </footer>
          </div>
      </div>
  </div>
</EditForm>

@code {
    [Parameter]
    public int TecnicoId { get; set; }
    public Tecnicos TecnicoSeleccionado { get; set; } = new Tecnicos();
    [Inject] protected ToastService NotificacionServicio { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (TecnicoId > 0)
        {
            TecnicoSeleccionado = await tecnicosService.Buscar(TecnicoId);
        }
    }

    public async Task ConfirmarEliminacion()
    {
        if (TecnicoSeleccionado != null)
        {
            var resultado = await tecnicosService.Eliminar(TecnicoId);
            if (resultado)
            {
                NotificacionServicio.Notify(new(ToastType.Danger, "Eliminado exitosamente.", "El tecnico se ha eliminado correctamenete!"));
                Navegacion.NavigateTo("/Tecnicos/Index");
            }
            else
            {
                NotificacionServicio.Notify(new(ToastType.Warning, "Error al eliminar el técnico", "Ocurrió un error al intentar eliminar el técnico."));
            }
        }
    }
}