@page "/Tecnicos/Index"
@inject TecnicosService tecnicosService
@inject NavigationManager navigation
@rendermode InteractiveServer

<PageTitle>Tecnicos</PageTitle>
<div class="container">
    <div class="card-header bg-warning text-dark">
        <h3 class="bi bi-person-fill"><strong> Registro de T&eacute;cnicos</strong></h3>
    </div>
    <div class="row text-left">
        <div class="col-md-3">
            <label for="filtro" class="form-label"><strong>Filtrar por:</strong></label>
            <InputSelect id="filtro" class="form-select" @bind-Value="filtro">
                <option value="id">ID</option>
                <option value="Nombre">Nombres</option>
                <option value="SueldoHora">SueldoHora</option>

            </InputSelect>
        </div>
        <div class="col-md-6">
            <label for="valorFiltro" class="form-label"><strong>B&uacute;squeda:</strong></label>
            <div class="input-group">
                <InputText id="valorFiltro" @bind-Value="valorFiltro" class="form-control" placeholder="Buscar" />
                <button @onclick="Buscar" class="btn btn-warning bi bi-search" type="button"> Buscar</button>
            </div>
        </div>
        <div class="col-md-3 d-flex align-items-end justify-content-md-end mt-3 mt-md-0">
            <a href="/Tecnicos/Create" class="btn btn-warning bi bi-plus-square-fill"> Crear</a>
        </div>
    </div>

    <div class="card-body">
        <table class="table table-light">
            <thead class="table table-striped text-center table-bordered mt-3 bg-dark text-white">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>SueldoHora</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tecnicos in tecnicos)
                {
                    <tr>
                        <td class="text-center">@tecnicos.TecnicoId</td>
                        <td class="text-center">@tecnicos.Nombres</td>
                        <td class="text-center">@tecnicos.SueldoHora</td>

                        <td class="text-center">
                            <a href="/Tecnicos/Edit/@tecnicos.TecnicoId" class="btn btn-secondary text-white bi bi-pencil-fill"></a>
                        </td>
                        <td class="text-center">
                            <a href="/Tecnicos/Delete/@tecnicos.TecnicoId" class="btn btn-danger bi bi-trash2-fill"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



@code {
    public List<Tecnicos> tecnicos = new List<Tecnicos>();
    private string filtro = "";
    private string valorFiltro = "";

    protected override async Task OnInitializedAsync()
    {
        tecnicos = await tecnicosService.Listar(t => true);
    }

    private async Task Buscar()
    {
        if (!string.IsNullOrWhiteSpace(valorFiltro))
        {
            string filtroLower = filtro.ToLower();
            string valorFiltroLower = valorFiltro.ToLower();

            tecnicos = await tecnicosService.Listar(t =>
                (filtroLower == "id" && t.TecnicoId.ToString().Contains(valorFiltro)) ||
                (filtroLower == "nombre" && t.Nombres.ToLower().Contains(valorFiltroLower)) ||
                (filtroLower == "sueldohora" && t.SueldoHora.ToString().Contains(valorFiltro))
            );
        }
        else
        {
            tecnicos = await tecnicosService.Listar(t => true);
        }
    }
}
